body{
   font-family: "Roboto";
   height: 100vh;
   width: 100%;
   padding: 0;
   margin: 0;
   display: flex;
   flex-direction: column;
}


/*-------------------------------
Header CSS
-------------------------------*/
.header {
   height: 60px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #1F2937;
   margin: 0;
   padding: 0px 16px;
}

.header ul {
   margin: 0;
   padding: 0;
   list-style: none;
   display: flex;
}

.header ul a{
   font-size: 18px;
   color: #E5E7EB;
   padding-right: 24px;
   text-decoration: none;
}

.header h3{
   color: #F9FAF8;
   font-size: 24px;
   padding-left: 24px;
}

/*-------------------------------
Hero CSS
-------------------------------*/
.hero {
   background-color: #1F2937;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   padding: 40px;
   color: #F9FAF8;
   gap: 18px;
}

.hero div {
   flex: 1;
}

.hero h1 {
   font-size: 48px;
   font-weight: 900;
}

.hero p {
   font-size: 18px;
   color: #E5E7EB;
}

.hero button {
   padding: 10px 40px;
   border: 0px;
   border-radius: 10px;
   background-color: #3882F6;
   color: #F9FAF8;
}

.hero img {
   height: 350px;
   width: auto;
   border-radius: 10px;
}

/*-------------------------------
Content CSS
-------------------------------*/


/*-------------------------------
Testimonials CSS
-------------------------------*/



/*-------------------------------
Action Call CSS
-------------------------------*/


/*-------------------------------
Footer CSS
-------------------------------*/

.footer {
   background-color: #000;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 24px auto;
}

.footer p {
   font-size: 10px;
   color: #E5E7EB;
}